html {
    font-family: sans-serif;
    background-color: cornsilk;
}

body {
    max-width: 450px;
    margin: 0 auto;
}

.header {
    margin: 0.2em;
}

.restaurant {
    display: flex;
    margin: 0.2em;
}

.restaurant-info-container {
    border: 3px solid darkgrey;
    background-color: lightgrey;
    display: flex;
    flex-grow: 1;
}

.level-0 {
    background-color: lightgreen;
    border-color: seagreen;
}

.level-1 {
    background-color: greenyellow;
    border-color: limegreen;
}

.level-2 {
    background-color: yellow;
    border-color: gold;
}

.level-3 {
    background-color: gold;
    border-color: orange;
}

.level-4 {
    background-color: salmon;
    border-color: firebrick;
}

.restaurant-info {
    margin: auto 0;
    padding: 1em;
    flex-grow: 1;
    display: flex;
}

.visit-button {
    font-size: 2em;
    border: none;
    background: inherit;
    margin: auto 0;
    height: 2em;
    min-width: 1.5em;
}

.add-form input[type="text"] {
    border: solid 1px darkgrey;
    flex-grow: 1;
}
