html {
    font-family: sans-serif;
    background-color: cornsilk;
}

body {
    max-width: 400px;
    margin: 0 auto;
}

div.header {
    margin: 0.2em;
    display: flex;
}

.title {
    flex-grow: 1;
    display: inline-block;
}

.add-link {
    text-decoration: none;
    font-size: 2em;
    color: mediumseagreen;
    margin: auto 0;
}

div.restaurant {
    display: flex;
    margin: 0.2em;
}

div.restaurant-info-container {
    border: 3px solid darkgreen;
    background-color: lightgreen;
    display: flex;
    flex-grow: 1;
}

.restaurant-info {
    margin: auto 0;
    padding: 0.8em;
    flex-grow: 1;
}

.visit-button {
    font-size: 2em;
    border: none;
    background: inherit;
    margin: auto 0;
    height: 2em;
}
