<html>
    <head>
        <title>Lunch Order</title>
        <link href="/static/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
            <h1>Lunch Order</h1>
        </div>
        <div>
            <form action="/add" method="POST" class="restaurant add-form">
                <div class="restaurant-info-container">
                    <div class="restaurant-info">
                        <input type="text" name="name">
                    </div>
                </div>
                <input type="submit" value="+" class="visit-button">
            </form>
            {% for restaurant in restaurant_list %}
                <div class="restaurant">
                    <div class="restaurant-info-container level-{{restaurant.level}}">
                        <div class="restaurant-info">
                            <span class="restaurant-name">{{restaurant.restaurant_model.name|e}}</span>
                            <span class="visit-time">{{restaurant.time_string}}</span>
                        </div>
                    </div>
                    <form action="/visit/{{ restaurant.restaurant_model.id }}" method="POST" style="display: inline-block; margin-block-end: 0;">
                        <input type="submit" value="✓" class="visit-button">
                    </form>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
